---
api_key: car2go-api-key
location: city
points_of_interest:
  home:
    latitude: 33.9354
    longitude: -75.0987
    max_distance_km: 1.0
    max_list: 12
  work:
    latitude: 33.85551
    longitude: -75.0212
    max_distance_km: 0.8
    max_list: 12
