---
wmata-api-keys:
  - key1
  - key2
  - key3
bus:
  defaults:
    prediction_limit: 7
  stops:
    1002873:
    1001947:
    1003040:
    1003728:
rail:
  defaults:
    prediction_limit: 7
  stations:
    galleryplace:
      prediction_limit: 24
      codes:
        - B01
        - F01
    metrocenter:
      prediction_limit: 24
      codes:
        - A01
        - C01
    columbiaheights:
      codes:
        - E04
    woodleypark:
      codes:
        - A04
