<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
  Dashing.cycleDashboards({timeInSeconds: 60, stagger: true});
  Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":5,"row":2,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":5,"row":3,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":2,"size_y":1}]')
});
</script>


<% content_for :title do %>1080p Transit Near Home Dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cabi-230" data-view="Cabi" data-unordered="true" style="background-color:#ff9618;" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="car2go-home" data-view="Car2go" data-title="Car2go Map" data-type="pin" data-color="#222222"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wmata-columbiaheights" data-view="Wmatarail" data-unordered="true" data-title="Columbia Heights"  style="background-color:#3D3D3D;" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wmata-woodleypark" data-view="Wmatarail" data-unordered="true" style="background-color:#686968;"  data-title="Woodley Park" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wmata-1002873" data-view="Wmatabus" data-unordered="true" style="background-color:#9c4274;" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wmata-1001947" data-view="Wmatabus" data-unordered="true" style="background-color:#686968;" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wmata-1003040" data-view="Wmatabus" data-unordered="true" style="background-color:#dc5945;" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nextbus-dc-circulator-green-colu16th_n" data-view="Nextbus" style="background-color:#ff9618;" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cabi-17" data-view="Cabi" data-unordered="true" style="background-color:#9c4274;" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cabi-19" data-view="Cabi" style="background-color:#dc5945;" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Graphite" data-image="http://metrics.derricklbryant.com/render/?width=1085&height=630&_salt=1396125945.506&yMin=32&yMax=100&from=-6hours&areaMode=first&title=Fire%20Closet%20Temperature%20in%20F&bgcolor=333333&fgcolor=C0C0C0&target=color(alias(keepLastValue(Fire_Closet.temperature.f)%2C%22Fire%20Closet%20Temp.%20in%20F%22)%2C%22%23686968%22)&target=alias(dashed(color(lineWidth(keepLastValue(temperature2.bedroom.temperature.f)%2C3)%2C%22green%22))%2C%22Bed%20Room%22)&target=alias(lineWidth(color(keepLastValue(temperature1.outside.temperature.f)%2C%22red%22)%2C3)%2C%22Outside%22)&target=alias(lineWidth(keepLastValue(temperature1.living_room.temperature.f)%2C3)%2C%22Living%20Room%22)" data-interval="60000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-widget_title="<img src='http://forecast.io/favicon.ico' />Weather Forecast"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="wmata-railincidents" data-view="List" data-unordered="true" data-title="Metro Rail Incidents" data-moreinfo=""></div>
      <i class="icon-exclamation-triangle icon-background"></i>
    </li>


  </ul>
</div>
