// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #3CAEEC;

$full-color:  rgba(255, 255, 255, 1);
$light-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-forecast styles
// ----------------------------------------------------------------------------
.widget-title {
  
    color: $light-color;
    font-size: 15px;
    text-align: bottom;
    text-transform: uppercase;
    position: absolute;

	img {
    	vertical-align: baseline;
    	margin-right: 5px;
    	height: 16px;
	}
}

.widget-forecast {

  background-color: $background-color;
  padding-top: 15px !important;

  h1 {
    margin-bottom: 0px;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
    right: 10px;
    left: auto;
    text-align: bottom;
  }

  .title {
    color: $light-color;
    text-align: left;
    font-size: 25px;
  }

  .temp {
    color: $full-color;
    text-align: left;
    font-size: 45px;
  }

  .extrainfodiv {
    top: 45px;
    position: absolute;
    right: 10px;
  }
  .high {
    color: $full-color;
    text-align: right;
    font-size: 35px;
    right: 5px;
  }
  .low {
    color: $full-color;
    text-align: right;
    font-size: 35px;
    right: 5px;
  }
  .humidity {
    color: $full-color;
    text-align: right;
    font-size: 35px;
    right: 5px;
  }
  .feelslike {
    color: $full-color;
    text-align: right;
    font-size: 35px;
    right: 5px;
  }

  .summary {
    color: $full-color;
    text-align: left;
    vertical-align: middle;
    font-size: 17px;
  }

  .forecast-icon {
    float: left;
    text-align: left;
    margin-right: 20px;
  }

  .more-info {
      color: $light-color;
  }

}
